body, html {
    background-color: #f6f6f6
}
#painting {
    background-color: #fff4db;
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}
#toprow {
    height: 290px;
}
#bigbox {
    width: 290px;
    height: 290px;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
}

.pink {
    background-color: pink;
}
.purple {
    background-color: purple;
}
.right {
    float: right;
}
#divider1 {
    height: 290px;
    width: 10px;
}
.mediumbox {
    width: 100px;
    height: 140px;
}
#divider2 {
    height: 10px;
    width: 100px;
}
.middlerow {
    width: 10px;
    height: 100px;
}
#divider3 {
    width: 400px;
    height: 10px;
}
#bottomrow {
    height: 100px;
}
#bluebox {
    width: 100px;
    height: 100px;
}
#divider4 {
    width: 10px;
    height: 100px;
}
.left {
    float: left;
}
#rectangle {
    height: 100px;
    width: 235px;
}
#divider5 {
    width: 10px;
    height: 100px;
}
#divider6 {
    height: 10px;
    width: 45px;
}
#smallbox1 {
    height: 45px;
    width: 45px;
}